:root {

    --Blue: #0072c6;
    --Dark-blue: #004a8f;
    --Light-blue: #b0e2ff;
    --Green: rgb(122 182 206);
    --Dark-green: rgb(122 182 206);
    /* --Green: #38b44a;
    --Dark-green: #005a1c; */
    --Light-green: #c6dfb8;
    --White: #ffffff;
    --Gray: #808080;
    --Light-pastel-purple: #d2bde9;
    --down-value: (30.93px + 20px);
    --main-line-height: 1.5;
    --main-color: rgb(18, 71, 94);
    /* --main-color: #1A4D2E; */
    --dark-main-color: rgb(122 182 206);
    /* --dark-main-color: #0b2b17; */
    --main-v2-color: rgb(18, 161, 218);
    /* --main-v2-color: #E8DFCA; */
    --main-v3-color: rgb(122 182 206);
    /* --main-v3-color: #4F6F52; */
    --green-color: rgb(7, 118, 165);
    --sec-color: #344599c7;
    --p-font-size: calc(-5px + 4vmin);
    --font-sans: '__Inter_9da747', '__Inter_Fallback_9da747', "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-alternate: '__degular_c961b9', '__degular_Fallback_c961b9', "Helvetica Neue", Helvetica, Arial, sans-serif, '__Inter_9da747', '__Inter_Fallback_9da747', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::selection {
    color: var(--main-v2-color);
    background-color: #1A4D2E;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5EFE6;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--main-v3-color), var(--main-color));
}

html {
    scroll-behavior: smooth;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: rgb(27, 27, 27);

    font-family: "Barlow Semi Condensed", sans-serif;
}

html {
    height: 100%;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    line-height: var(--main-line-height);
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: var(--font-alternate);
}

.time-up {
    width: 200px;
    height: 150px;
    background-color: #1a4d2e70;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.not-touchable {
    pointer-events: none;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.med {
    color: var(--green-color);
}

.arrow-up {
    position: fixed;
    bottom: 10px;
    right: -100px;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border-radius: 100%;
    cursor: pointer;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    padding: 1rem;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.arrow-up:hover {
    background-color: rgba(255, 255, 255, 0.219);
}

.show {
    right: 10px;
}

.arrow-up i {
    font-size: 1.5rem;
    color: var(--main-v2-color);
}

.nav-bar {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    z-index: 99999;
    border-bottom: 2px solid transparent;
    padding: 20px;

}

.nav-bar-onscroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-color);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    z-index: 99999;
    border-bottom: 2px solid var(--main-v2-color);
    padding: 20px;
}



.search-field {
    transition: 0.5s;
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    height: 2rem;
    width: 300px;
    margin-left: 20px;
}




.search-field .search-input {
    width: 60%;
    height: 100%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    background-color: transparent;
    border: 2px solid white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}





.main-bg {
    background-color: transparent;
    position: fixed;
    z-index: -1;
    background-color: rgb(13, 54, 70);
    width: 100%;
    height: 100vh;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.landing {
    height: 68vh;
    padding: 10px;
    width: fit-content;
    padding-top: 3rem;
    margin-bottom: 32vh;
    position: relative;
}

.landing div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10px;

}

.landing div img {
    width: calc(var(--p-font-size) + 3.9rem);
    border: 2px solid var(--green-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 8px;
}

.landing div h1 {
    font-size: calc(var(--p-font-size) + 3rem);
    margin: 0;
}

.landing .main-p {
    line-height: var(--main-line-height);
    font-size: 20px;
    min-width: 350px;
    max-width: 50%;
}

.main-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url('../Images/background-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -2;
}

.bg {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

.bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(18, 65, 83, 0.445);

}

.bg.one {
    background-image: url('../Images/arrangement-medical-desk-with-copy-space.jpg');
    height: 100vh;
}

.bg.two {
    background-image: url('../Images/Sec\ BG.jpg');
}

.bg.three {
    background-image: url('../Images/Third\ BG.jpg');
}

.btn-home:hover {
    background-color: rgba(255, 255, 255, 0.089);
}

.side-bar-holder {
    display: none;
}


.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 72px;
}

@media not all and (min-width: 1024px) {

    .links,
    .logo {
        display: none;
    }

    .logo-side {
        margin: 20px 0;
        align-self: center;
        font-size: 30px;
    }

    .logo-side span {
        color: var(--Dark-green);
        font-weight: bold;
    }

    .side-bar-holder {
        display: block;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }

    #side-bar-open-btn {
        color: var(--main-v2-color);
        cursor: pointer;
    }

    .side-bar {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -15px;
        left: -200px;
        height: 100vh;
        padding: 20px;
        background-color: var(--green-color);
        gap: 20px;
        width: 200px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        pointer-events: all;
        opacity: 1;
        filter: none;
        -webkit-filter: none;
        z-index: 9;
        border-top: 8px solid var(--main-v2-color);
    }

    .side-bar-show {
        left: 0;
    }

    #side-bar-close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        height: fit-content;
        color: var(--main-v2-color);
        cursor: pointer;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }

    #side-bar-close-btn:hover {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .side-bar-links {
        flex-grow: 1;
        position: relative;
    }

    .side-bar-links>li {
        color: white;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid var(--main-v2-color);
    }

    .side-bar-links>li>a {
        position: relative;

    }

    .side-bar-links>li>.drop-icon:after {
        content: "";
        position: absolute;
        right: -40%;
        top: 30%;
        width: 5px;
        height: 5px;
        background-color: transparent;
        border-width: 1px;
        border-style: solid;
        border-color: transparent white white transparent;
        transform: rotate(45deg);
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }



    .side-bar-links>li a {
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }

    .side-bar-links>li a:hover {
        margin-left: 10px;
    }

    .side-bar-dropped-menu {
        position: relative;
    }

    .side-bar-drop-down-menu {
        transition: 0.5s;
        height: 0px;
        overflow: hidden;
        margin-left: 20px;

        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }

    .side-bar-drop-down-menu li {
        margin-bottom: 20px;
    }
}


.links>li {
    position: relative;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.links>li>a:hover {
    color: var(--Blue);
}

.linkes-active {
    color: var(--Blue);
}

.links>.dropped-menu::after {
    content: "";
    position: absolute;
    left: 110%;
    top: 30%;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: transparent white white transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.drop-down-menu {
    position: absolute;
    top: 30px;
    left: 0;
    padding: 10px;
    background-color: #1A4D2E;
    width: 200px;
    border-width: 2px;
    border-style: groove;
    border-color: transparent var(--main-v2-color) var(--main-v2-color) var(--main-v2-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 99999;
    display: none;
}

.drop-down-menu::before {
    content: "";
    position: absolute;
    top: -18px;
    left: 10px;
    width: 0px;
    height: 0px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #1A4D2E transparent;

}

.drop-down-menu>li {
    margin-bottom: 20px;
    border-bottom: 2px solid #cccccc57;
    padding: 5px;
}

.drop-down-menu>li a {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.drop-down-menu>li a:hover {
    margin-left: 10px;
    color: #ccc;
}

.dropped-menu:hover .drop-down-menu {
    display: block;
}

.logs button {
    margin-left: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.logs .log-in-btn {
    font-size: calc(var(--p-font-size) - 0.3rem);

    color: white;
}

.logs .log-in-btn:hover {
    color: rgba(255, 255, 255, 0.644);
}

.logs .sign-up-btn {
    font-size: calc(var(--p-font-size) - 0.3rem);
    color: white;
    background-color: var(--green-color);
    padding: 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.logs .sign-up-btn:hover {
    background-color: var(--main-v3-color);
}

@media not all and (min-width: 768px) {
    .search-field {
        width: 150px;
    }

    .landing div img {
        width: calc(var(--p-font-size) + 2.5rem);
    }

    .landing div h1 {
        font-size: calc(var(--p-font-size) + 2.5rem);
    }

}

.services {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;

}

.services-content {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: transparent;
}

.services-content>h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 80px;
}

.services-content .services-boxs {
    margin: 60px 0;
    width: 100%;
}

.services-content .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}

.services-content .services-boxs>div {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: var(--main-color);
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 16%);

}



.services-content .services-boxs>div i {
    font-size: 20px;
    margin-top: 30px;
    color: white;
    background-color: var(--main-v2-color);
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.services-content .services-boxs>div h1 {
    font-size: 15px;
    line-height: var(--main-line-height);
    margin: 20px 0;
    color: var(--Light-blue);
    font-weight: bold;
}

.services-content .services-boxs>div p {
    font-size: 12px;
    margin-bottom: 20px;
    line-height: var(--main-line-height);
    text-wrap: pretty;
    color: var(--Dark-green);

}

.process {
    width: 100%;


}

.process .process-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.process .process-content .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 50%;
    text-align: center;
    line-height: var(--main-line-height);
}

.process .process-content .head div {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

}

.process .process-content .head h1 {
    color: white;
    font-size: 40px;
}

.process .process-content .head h1 span {
    color: var(--dark-main-color);
    font-weight: bold;
}

.process .process-content .head p {
    color: white;

}


.process .process-content .circels {
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

@media not all and (min-width:1024px) {
    .process .process-content .circels {
        height: fit-content;
        justify-content: space-around;
        gap: 40px;
    }
}

.process .process-content .circels>div {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--Dark-green);

}

.process .process-content .circels>div:nth-child(2) {
    align-self: end;
}

.process .process-content .circels>div div {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: var(--Blue);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.process .process-content .circels>div h2 {
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 13px;
}

.process .process-content .circels>div p {
    font-size: 9px;
    text-wrap: pretty;
    text-align: center;
    width: 70%;
    color: #797777;
}

.header {
    text-align: center;
    margin-bottom: 5rem;
}

.header h1 {
    letter-spacing: -4px;
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
    margin: 0;
}

.header p {
    font-size: 10px;
    color: white;
}


.testimonials {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 8rem;
}

.testimonials-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-top: 6rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.head-line {
    margin-top: 4rem;
    position: relative;
}

.head-line:before {
    content: "";
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 60px;
    background: linear-gradient(to right, #133b24, #2a7046);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.head-line h1 {

    font-size: calc(var(--p-font-size) + 1.5rem);
}

.head-line h1:nth-child(2) {
    font-weight: 100;
    letter-spacing: 0;
    min-width: 200px;
    max-width: 550px;
    margin: 20px auto;
}

.testimonials-section .cards-holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem;
    width: 100%;
    justify-items: center;
}

@media not all and (min-width: 768px) {
    .testimonials-section .cards-holder {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
}

.testimonials-section .card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    gap: 10px;
    padding: 10px;
    transition: 0.5s;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    box-shadow: -1px 5px 13px 0px black;
    background-color: rgba(0, 0, 0, 0.116);
}

.testimonials-section .card:hover {
    background-color: var(--dark-main-color);
}

.testimonials-section .card p {
    line-height: var(--main-line-height);
    text-wrap: balance;
}

.testimonials-section .card .p-img-name-holder {
    display: flex;
    align-items: center;
    gap: 5px;
}

.testimonials-section .card .p-img-name-holder img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: 1px solid var(--main-v2-color);
}

.testimonials-section .card .stars {
    font-size: 12px;
}



.about-us {
    width: 80%;
    height: 100%;
}

.landing {
    height: 100vh;
    margin-bottom: 0;

}

.section-name {
    position: relative;
    font-size: 40px;
}

.section-name p {
    position: absolute;
    bottom: -20px;
    right: 0;
    font-size: 13px;
}

.section-name p span {
    opacity: 0.8;
}

.arrow-btn {
    position: absolute;
    bottom: 70px;
    left: 50%;
    align-self: end;
    cursor: pointer;
    animation: toggle-btn infinite;
    -webkit-animation: toggle-btn 4s 0.5s infinite ease-out;

}

@keyframes toggle-btn {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        bottom: 60px;
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        bottom: 80px;
    }
}



.arrow-btn span {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: transparent white white transparent;
    rotate: 45deg;
}

.arrow-btn span:nth-child(1) {
    top: 7px;
}

.arrow-btn span:nth-child(2) {
    top: 17px;
}

.arrow-btn span:nth-child(3) {
    top: 27px;
}

.about-us-content {
    margin-top: 60px;
    width: 100%;
}

.about-us-content .partners {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    align-items: center;
    padding-top: 85px;
    margin: 10px auto;
    gap: 20px;

}

@media not all and (min-width:1024px) {
    .about-us-content .partners {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    }
}

.text-content {
    width: 75%;
    color: white;
    opacity: 0;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.anim {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

@media not all and (min-width:1024px) {
    .text-content {
        width: 100%;
    }
}

.text-content h1 {

    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-content p {
    color: #ccc;
    line-height: var(--main-line-height);
}

.about-us-content .partners>div:nth-child(2) {
    width: 100%;
    height: 350px;
}

.about-us-content .partners>div:nth-child(2) img {
    max-width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.about-us-content .partners>div:nth-child(3) {
    width: 100%;
    height: 350px;
}

.about-us-content .partners>div:nth-child(3) img {
    max-width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.about-us-content .partners>div:nth-child(4) {


    width: 100%;
    height: 350px;
}

.about-us-content .partners>div:nth-child(4) img {
    max-width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.about-us-content .partners>div img:not(div:nth-child(1)) {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.about-us-content .partners>div img:not(div:nth-child(1)):hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

@media not all and (min-width:1024px) {}

.about-us-content .our-numbers {
    padding: 30px;
    width: 100%;
    background-color: black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 60px 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media not all and (min-width:540px) {
    .about-us-content .our-numbers {
        flex-direction: column;
        width: fit-content;
        gap: 20px;

    }
}

.about-us-content .our-numbers .text-content {
    width: 40%;
}

@media not all and (min-width:540px) {
    .about-us-content .our-numbers .text-content {
        width: 100%;
    }
}

.about-us-content .our-numbers .numbers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    width: 40%;
}

@media not all and (min-width:540px) {
    .about-us-content .our-numbers .numbers {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        gap: 20px;
        justify-items: start;
        width: 100%;
    }
}

.about-us-content .our-numbers .numbers div {
    width: fit-content;
    position: relative;
}

.about-us-content .our-numbers .numbers div h1 {
    margin: 0;
    text-align: center;
}

.about-us-content .our-numbers .numbers div:after {
    content: "";
    position: absolute;
    top: 8px;
    right: -20px;
    width: 3px;
    height: 3px;
    background-color: red;
    rotate: 45deg;
}

.about-us-content .our-numbers .numbers div:nth-child(3):after {
    right: -30px;
}

.about-us-content .our-numbers .numbers div::before {
    position: absolute;
    top: 20px;
    right: -170%;
    font-size: 8px;
}

.about-us-content .our-numbers .numbers div:nth-child(1):before {
    content: "Global Happy Clients";
}

.about-us-content .our-numbers .numbers div:nth-child(2):before {
    content: "Medicin Products";
}

.about-us-content .our-numbers .numbers div:nth-child(3):before {
    content: "Team Members";
    right: -250%;
}

.about-us-content .our-numbers .numbers div:nth-child(4):before {
    content: "Global Happy Clients";
}


.about-us-content .why-choose-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.about-us-content .why-choose-us>div:first-child {
    position: relative;
}

.about-us-content .why-choose-us>div:first-child img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.about-us-content .why-choose-us>div:first-child div {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: orangered;
    z-index: -1;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.about-us-content .why-choose-us .text-content {
    margin-right: 40px;
}

.about-us-content .team-members {
    margin-bottom: 60px;
}

.about-us-content .team-members .text-content {
    width: 300px;
    margin-bottom: 60px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    gap: 20px;
    justify-items: center;
}

.about-us-content .team-members .cards div {
    width: 200px;
    height: 300px;
    background-color: #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.about-us-content .branding {
    width: 100%;
    height: 400px;
    background-color: #ccc;
    margin-bottom: 60px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.feed-back {
    background-color: rgb(10, 55, 85);
    margin-bottom: 60px;
    padding: 20px;
}

.feed-back-section {
    background-color: var(--main-color);
    padding: 10px;
    margin: 100px auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 3px solid var(--main-v2-color);
}

.feed-back-section .header {
    margin-bottom: 3rem;
}

.head-line h1 {
    text-align: center;
}


.feed-back-section form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.feed-back-section form .left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.feed-back-section form label {
    font-size: 30px;
    color: white;
}

.feed-back-section form textarea[name="feed-back"] {
    width: 100%;
    height: 300px;
    padding: 10px;

}

.feed-back-section form input,
.feed-back-section form textarea {
    border: 2px solid var(--main-v2-color);
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px;
}

.feed-back-section form input:focus {
    outline: 3px solid var(--green-color);
    border: none;
}

.feed-back-section form textarea[name="feed-back"]:focus {
    outline: 3px solid var(--green-color);
    border: none;
}

.feed-back-section form .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    width: fit-content;
}

.feed-back-section form .right label {
    font-size: 15px;
    margin: 30px 0 10px 0;

}

.feed-back-section form .name {
    align-self: start;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;

}

.feed-back-section form .stars {
    margin-bottom: 40px;
}

.feed-back-section form .stars i {
    cursor: pointer;
    color: rgb(255, 205, 39);
}

.feed-back-section form button {
    background-color: var(--green-color);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    width: 100%;
}

.content div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content h2 {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    border: 2px solid var(--main-v2-color);
    width: fit-content;
    padding: 10px;
    background-color: #1A4D2E;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}

.content h2::after {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    background-color: #1A4D2E;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.content h2::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    background-color: #1A4D2E;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.content p {
    font-size: 20px;
    padding: 20px;
    margin-bottom: 20px;
    color: rgb(196, 190, 190);
    line-height: var(--main-line-height);
    position: relative;
    background-color: #1A4D2E;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.content p span {
    font-weight: bold;
}

.content p span:nth-of-type(2) {
    color: white;

}

/* 
.content p::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 5px;
    background-color: var(--main-v2-color);
} */

.content p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: var(--main-v2-color);
}


footer {
    width: 100%;
    height: 18rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: fit-content;

}



footer .holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    padding: 20px;
    gap: 20px;
}

footer .logo {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
    font-size: 35px;
    font-weight: bold;
    align-self: center;
}

footer .logo img {
    width: 70px;
    height: 70px;
    border: 2px solid var(--main-v2-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
}

footer .logo span {
    color: var(--main-v2-color);
    font-weight: bold;
}

footer .legal {
    color: white;
    width: 200px;
}

footer .legal h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

footer .legal p {
    margin-bottom: 5px;
}

footer .payment {
    color: white;
    min-width: 200px;
    max-width: 40%;
}

footer .payment h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

footer .contact-us {
    color: white;
    min-width: 200px;
    max-width: 40%;
}

footer .contact-us h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(43, 41, 41);
    width: 100%;
    align-self: center;
    gap: 10px;
}

.social-links h1 {
    font-size: 18px;
}

.social-links a {
    font-size: 30px;
}

.facebook:hover {
    color: rgb(22, 22, 199);
}

.instgram:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.github:hover,
.twitter:hover {
    color: rgb(27, 27, 27);
}

footer .rights {
    color: white;
    width: 100%;
    align-self: center;
    text-align: center;
}

footer .rights span {
    font-weight: bold;
}

footer .rights span:nth-of-type(1) {
    color: var(--main-v2-color);
}

footer .policy {
    color: white;
}