* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}


nav {
    width: 100%;
    box-shadow: 0px 0px 8px black;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    z-index: 999999;
    background-color: white;
}

nav a {}

nav a h1 {
    width: fit-content;
    color: black;
    margin-left: 20px;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.items-holder .select-div {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin: 20px 0;

}

.select-all {}

.main .items-holder {
    width: 50%;
    flex: 1;
}

.main .items-holder h1 {
    text-align: center;
}

.main .items-holder .items {
    width: 100%;
}

form {}

.item-box {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.item-box input:first-child {
    width: 20px;
}

.main .items-holder .items .item-box img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.main .items-holder .items .item-box p {
    text-align: center;

}


form input[type="number"] {
    width: 50px;
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

form input[type="number"]:hover {
    outline: 2px solid #ccc;
}

form input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.order-side-bar {
    position: fixed;
    top: 80px;
    right: 0px;
    width: 300px;
    height: calc(100vh - 80px);
    padding: 10px;
    box-shadow: 0px 0px 8px black;
    z-index: 99999;
    background-color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.order-side-bar .openner {
    display: none;
    position: absolute;
    top: 50%;
    left: -12px;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-color: var(--Dark-blue) transparent transparent var(--Dark-blue);
    border-width: 3px;
    rotate: -45deg;
    z-index: 111;
    cursor: pointer;
}




@media not all and (min-width: 768px) {
    .order-side-bar .openner {
        display: block;
    }

    .order-side-bar {
        right: -300px;
    }

    .side-bar-contain {
        display: none;
    }
}

.orders-and-price {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.orders-and-price>div {
    text-align: center;
}

.orders-and-price>div input {
    text-align: center;
    width: 100px;
}

.orders-and-price>div h1 {
    font-size: 25px;
}

.orders-and-price>div p {
    font-size: 20px;
}

form {
    margin-top: 20px;
}

.full-name,
.address,
.phone-number {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 5px;
}


.detailes input {
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.detailes input:focus,
.detailes input:hover {
    outline: 1px solid #bdbcbc;
}

.order-side-bar .payment-method {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.order-side-bar .payment-method h1 {
    font-size: 20px;
}

.order-side-bar .payment-method div {
    margin-bottom: 10px;
}

.order-side-bar button {
    width: 100%;
    padding: 20px;
    background-color: var(--Dark-blue);
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.order-side-bar button:hover {
    opacity: 0.9;
}

.blured-bg {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.39);
    z-index: 999999;
}

.credit-card-page {
    display: none;
    justify-content: space-between;
    width: 900px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    z-index: 999999999999;
}

@media not all and (min-width: 900px) {
    .credit-card-page {
        width: 380px;
        overflow-x: auto;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
}

@media not all and (min-width: 380px) {
    .credit-card-page {
        width: 320px;

    }
}

.credit-card-page .cards {
    width: 50%;
    height: 100%;
    background-color: #ccc;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 30px 60px;
    color: #555555;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

@media not all and (min-width: 900px) {
    .credit-card-page .cards {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0px;
        z-index: 1;
    }
}

@media not all and (min-width: 380px) {
    .credit-card-page .cards {
        padding: 30px 30px;

    }
}

.credit-card-page .card {
    width: 270px;
    height: 150px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    position: relative;
}

.credit-card-page .cards .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 2px;
    height: 100%;
    background-color: black;
    display: none;

}

.credit-card-page .card:hover::before {
    display: block;
}

.credit-card-page .card-1 {
    background: linear-gradient(45deg, #5950c6, #36b3c5);
}

.credit-card-page .card-2 {
    background: linear-gradient(45deg, #8b5aa5, #e14ba5);

}

.credit-card-page .card-3 {
    background: linear-gradient(45deg, #27282a, #656668);

}

.credit-card-page .card h1 {
    margin: 0;
    font-size: 25px;
    color: white;
    text-align: end;
}

.credit-card-page .card .card-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;

}

.credit-card-page .card .card-number p {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.credit-card-page .card .card-number p:not(:last-child) {
    padding-top: 10px;
}

.credit-card-page .card .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credit-card-page .card .info div {
    color: white;
}

.credit-card-page .card .info div p {
    font-size: 10px;
}

.credit-card-page .card .info div p:not(:first-child) {
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

.credit-card-page .card:hover {}

.credit-card-page .payment-details {
    width: 50%;
    height: 100%;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 30px 60px;
    position: relative;
}

@media not all and (min-width: 900px) {
    .credit-card-page .payment-details {
        width: 100%;
    }
}

@media not all and (min-width: 380px) {
    .credit-card-page .payment-details {
        padding: 30px 30px;

    }
}


.credit-card-page .payment-details>h1 {
    text-align: center;
    font-size: 25px;

}

.payment-details .user-detailes {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    background-color: transparent
}

.user-detailes div {
    margin-bottom: 30px;
    position: relative;
    background-color: transparent;
}

.user-detailes p {
    position: absolute;
    top: 0px;
    left: 5px;
    color: #8a8989;
    font-size: 15px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.user-detailes input {
    border-bottom: 1px solid blue;
    width: 100%;
    padding: 3px 6px;
    background-color: transparent;
}

.user-detailes input:focus {
    outline: none;
}

.card-number-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.card-number-input input {
    text-align: center;

}

.payment-details .date-cvv {
    display: flex;
    justify-content: space-between;
}

.payment-details .date-cvv div {
    width: 45%;
}

.payment-details #credit-btn {
    display: block;
    padding: 10px;
    background: linear-gradient(60deg, var(--Dark-blue), rgb(36, 145, 247));
    align-self: center;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.credit-card-page .arrow {
    display: none;
    position: absolute;
    top: 52px;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
}

.credit-card-page .arrow.right {
    display: none;
    right: 30px;
    border-color: rgb(59, 59, 59) transparent transparent rgb(59, 59, 59);
    rotate: 135deg;
}

.credit-card-page .arrow.left {
    left: 30px;
    border-color: transparent rgb(59, 59, 59) rgb(59, 59, 59) transparent;
    rotate: 135deg;
}

@media not all and (min-width: 900px) {
    .credit-card-page .arrow {
        display: block;
    }
}

@media not all and (min-width: 380px) {
    .credit-card-page .arrow.right {
        right: 10px;
        top: 32px;
        border-width: 2px;
        width: 15px;
        height: 15px;
    }
}

.show {
    display: block;
}