:root {
    --Blue: #0072c6;
    --Dark-blue: #004a8f;
    --Light-blue: #b0e2ff;
    --Green: rgb(122 182 206);
    --Dark-green: rgb(122 182 206);
    /* --Green: #38b44a;
    --Dark-green: #005a1c; */
    --Light-green: #c6dfb8;
    --White: #ffffff;
    --Gray: #808080;
    --Light-pastel-purple: #d2bde9;
    --down-value: (30.93px + 20px);
    --main-line-height: 1.5;
    --main-color: rgb(18, 71, 94);
    /* --main-color: #1A4D2E; */
    --dark-main-color: rgb(122 182 206);
    /* --dark-main-color: #0b2b17; */
    --main-v2-color: rgb(18, 161, 218);
    /* --main-v2-color: #E8DFCA; */
    --main-v3-color: rgb(122 182 206);
    /* --main-v3-color: #4F6F52; */
    --green-color: rgb(7, 118, 165);
    --sec-color: #344599c7;
    --p-font-size: calc(-5px + 4vmin);
    --font-sans: '__Inter_9da747', '__Inter_Fallback_9da747', "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-alternate: '__degular_c961b9', '__degular_Fallback_c961b9', "Helvetica Neue", Helvetica, Arial, sans-serif, '__Inter_9da747', '__Inter_Fallback_9da747', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.priv-container {
    width: 100%;
}

@media (min-width: 640px) {
    .priv-container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .priv-container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .priv-container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .priv-container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .priv-container {
        max-width: 1536px;
    }
}


body {
    font-family: "Barlow Semi Condensed", sans-serif;
}

.body .products-box::-webkit-scrollbar-track-piece {
    width: 200px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.main {
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(30deg, rgb(6, 33, 51) 30%, rgb(1, 60, 99) 50%, rgb(6, 33, 51) 100%);
}

.side-bar {
    width: 180px;
    height: 100vh;
    background-color: var(--green-color);
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 10px;
    flex-grow: 0;
    gap: 20px;
    padding-top: 30px;
    overflow: auto;
    z-index: 99;
}

@media not all and (min-width:1024px) {}

.logo-side {
    font-size: 35px;

}

.logo-side span {
    color: var(--Dark-green);
    font-weight: bold;
}

.side-bar::-webkit-scrollbar {
    width: 5px;
    background-color: #131722;
}

.side-bar::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--red-color), rgb(255, 0, 0));
}

.time-up {
    width: 200px;
    height: 150px;
    background-color: #1a4d2e70;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    right: -200px;
}

.show {
    right: 20px;
}

/* .side-bar::-webkit-scrollbar-corner {
    width: 30px;
}

.side-bar::-webkit-scrollbar {
    width: 10px;
    background-color: #131722;
}

.side-bar::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--red-color), rgb(255, 0, 0));
} */

.side-bar-holder {
    display: block;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
    width: 100%;
}

.social-links a {
    font-size: 30px;
}

.facebook:hover {
    color: var(--Dark-blue);
}

.instgram:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.github:hover,
.twitter:hover {
    color: rgb(27, 27, 27);
}

.side-bar .side-bar-links {
    width: 100%;
    position: relative;
    align-self: start;
}

.side-bar-links>li {
    color: white;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--red-color);
}

.side-bar-links>li>a {
    position: relative;

}




.side-bar-links>li a {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.side-bar-links>li a:hover {
    margin-left: 10px;
}

.side-bar-dropped-menu {
    position: relative;
}

.side-bar-drop-down-menu {
    transition: 0.5s;
    height: 0px;
    overflow: hidden;
    margin-left: 20px;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.side-bar-drop-down-menu li {
    margin-bottom: 20px;
}

@media not all and (min-width: 1024px) {
    .side-bar {
        top: 0;
    }

}

#side-bar-open-btn {
    display: none;
}

#side-bar-close-btn {
    display: none;
}

@media not all and (min-width: 1024px) {
    #side-bar-open-btn {
        display: block;
        margin-right: 10px;
    }

    #side-bar-close-btn {
        display: block;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }


}

.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    gap: 10px;
}

@media not all and (min-width: 426px) {
    .search-form:focus {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

}

.nav {
    padding: 10px;
    display: flex;
    width: 100%;
    gap: 10px;
}

@media not all and (min-width: 426px) {
    .nav {
        padding: 10px;
        display: flex;
        width: 100%;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

.nav input {
    color: white;
    width: 100%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 10px;
    background-color: rgba(43, 40, 40, 0.452);
    flex: 1;
}

.nav input:focus {
    outline: none;
    color: white;
    border: 2px solid var(--green-color);
}

.user-btn,
.nav .wishlist-btn,
.nav .notification {
    width: 45px;
    height: 45px;
    border: 2px solid var(--red-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    position: relative;
}

.user-btn .red-alert {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: red;
}

.user-wishlist {
    position: relative;
}

.user-wishlist span {
    display: none;
    position: absolute;
    top: 50%;
    left: calc(100% - 10px);
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: red;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.nav .wishlist-btn:hover {
    background-color: var(--main-v3-color);
}

.nav .notification:hover {
    background-color: var(--main-v3-color);
}

.user-btn:hover .user-info {
    display: flex;
}

.user-info {
    min-width: 200px;
    position: absolute;
    top: calc(100% + 10px);
    right: -80px;
    background-color: var(--main-color);
    flex-direction: column;
    justify-content: start;
    cursor: default;
    gap: 20px;
    padding: 20px;
    padding-left: 10px;
    z-index: 99;
    display: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.user-info::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 90px;
    border-color: transparent transparent var(--main-color) transparent;
    border-width: 8px;
    border-style: solid;

}

.user-info:hover {
    background-color: none;
}

.user-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: var(--main-v3-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    align-self: center;

}

.user-info .user-name {
    align-self: center;
    text-wrap: nowrap;
    font-weight: bold;
}

.user-info>div:not(:first-child) {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
}

.user-info>div:not(:first-child):hover {
    background-color: rgba(29, 140, 184, 0.199);
}

.notification:hover .notification-list {
    display: flex;
}

.notification-list {
    min-width: 200px;
    position: absolute;
    top: calc(100% + 10px);
    right: -50px;
    background-color: var(--main-color);
    flex-direction: column;
    justify-content: start;
    cursor: default;
    gap: 20px;
    padding: 20px;
    padding-left: 10px;
    z-index: 99;
    display: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.notification-list::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 120px;
    border-color: transparent transparent var(--main-color) transparent;
    border-width: 8px;
    border-style: solid;
}

.notification-list form {}

.notification-list form .items {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 1px solid var(--Dark-blue);
    border-radius: 20px;
    gap: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.notification-list form .items h2 {
    font-weight: bold;
}

.notification-list form .items button {
    color: red;
}

.user-btn {
    background-color: var(--main-v3-color);
    position: relative;
}

.user-btn span {

    font-size: 20px;
}


.body {
    width: calc(100% - 180px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media not all and (min-width: 1024px) {
    .body {
        width: 100%;
    }
}

.scroll-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    gap: 10px;
}

.left-arrow,
.right-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        width: 15px;
        height: 15px;
        background-color: transparent;
        border-width: 3px;
        border-style: solid;
        rotate: 45deg;
        cursor: pointer;


    }
}

.left-arrow span {
    border-color: transparent transparent white white;

    &:hover {
        border-color: transparent transparent #ccc #ccc;

    }
}

.right-arrow span {
    border-color: white white transparent transparent;

    &:hover {
        border-color: #ccc #ccc transparent transparent;

    }
}

@media (pointer:coarse) {

    .left-arrow,
    .right-arrow {
        display: none;
    }
}

.departs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    overflow: auto;
    width: fit-content;
    border-radius: 10px;
    gap: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    scroll-behavior: smooth;



    div {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        background-color: var(--main-v3-color);
        text-wrap: nowrap;
        color: white;
        text-align: center;
        padding: 5px;
        cursor: pointer;
        font-size: 10px;

        &:hover {
            background-color: var(--main-color);
        }
    }

    &:hover {
        background-color: var(--dark-main-color);
    }
}

.departs::-webkit-scrollbar {
    height: 2px;
    background-color: #131722;
}



.body .products-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 10px;
    overflow: auto;
}

.product-holder {
    width: 10rem;
    height: fit-content;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 10px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
}

.product-holder:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.788);

}

.product-holder .product-img {
    background-color: var(--main-color);
    width: 140px;
    margin-bottom: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    cursor: pointer;
    height: 140px;
}

.product-holder .product-img img {
    border-radius: 25px;
    height: 100%;
    max-width: 100%;

}

.product-holder .product-details {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-holder .product-details .product-price {
    font-size: 13px;
    align-self: self-start;
    margin: 8px 0;
}

.product-holder .product-details p:nth-of-type(1) {
    color: white;
    font-weight: bold;
    margin: 5px 0;
    text-align: start;
    cursor: pointer;
}

.product-holder .product-details p:nth-of-type(2) {
    height: 50px;
    margin: 5px 0;
    color: #ccccccb2;
    text-align: start;
    line-height: 1.3;
    font-size: 13px;
    text-wrap: balance;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    position: relative;
}

.product-holder .product-details .btns {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.product-holder .product-details .btns button {
    font-size: 13px;
    height: 35px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 6px;
}

.product-holder .product-details .btns .atwl {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 205, 39);
}

.product-holder .product-details .btns .buy-now {
    background-color: var(--main-color);
    flex-grow: 1;
}

.product-holder .product-details .btns .buy-now:hover {
    background-color: var(--green-color);
}



.product-price {
    font-weight: bold;
}

.product-price span {
    color: rgb(255, 205, 39);
}


.side-bar .account-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-bar .account-details img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.side-bar .account-details .acc-name {
    color: white;
    font-size: 13px;
}

.side-bar .wishlist {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-bar .wishlist .wishlist-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 3px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    align-self: start;
}

.clicked-product-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    z-index: -1;
}

.show {
    z-index: 1;
}

.clicked-product-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    background-color: var(--main-v3-color);
    transform-origin: 20px 0;
    border-radius: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    scale: 0;
    padding: 20px;
    color: white;
    box-shadow: 0 0 10px 0px var(--dark-main-color);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

@media not all and (min-width: 426px) {
    .clicked-product-box {
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        padding: 0;
    }
}

.clicked-product-box i {
    color: var(--red-color);
    margin: 20px;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.clicked-product-box i:hover {
    color: #dc2743;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.clicked-product-box-animation {
    scale: 1;
}

.clicked-product-box-img-holder {
    width: 400px;
    display: flex;
    flex-direction: column;

    align-items: center;
}



.clicked-product-box-img-holder img {
    min-width: 100%;
    height: 50%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.clicked-product-box-img-holder h2 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 10px 0;
}

.clicked-product-box-img-holder .main-des {
    text-align: center;
    color: rgba(255, 255, 255, 0.616);
    line-height: var(--main-line-height);
}

@media not all and (min-width: 426px) {
    .clicked-product-box-img-holder {
        width: 100%;
        height: 50%;
    }

    .clicked-product-box-img-holder img {
        flex: 1 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        margin: 10px 10px 0 10px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: calc(100% - 10px);
        min-width: auto;
        align-self: center;

    }

    .clicked-product-box-img-holder h2 {
        margin: 0px 5px 0 5px;
        width: calc(100% - 10px);
        background-color: rgba(19, 18, 18, 0.63);
        align-self: center;
        padding: 10px 0;
        box-shadow: 0px 0px 50px 0px black;
    }

    .clicked-product-box-img-holder .main-des {
        margin: 0 5px;
        background-color: rgba(19, 18, 18, 0.63);
        font-size: 12px;
    }
}

.clicked-product-box-detailes {
    width: 70%;
    align-self: start;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

@media not all and (min-width: 426px) {
    .clicked-product-box-detailes {
        width: calc(100% - 10px);
        margin: 0 10px 10px 10px;
        align-self: center;
        background-color: rgba(19, 18, 18, 0.63);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}





.clicked-product-box-detailes .product-price {
    align-self: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.clicked-product-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    gap: 10px;
}

@media not all and (min-width: 640px) {
    .clicked-product-btns {
        width: auto;
    }
}



.clicked-product-btns button {
    font-size: 13px;
    width: 100%;
    height: 35px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 6px;
    height: 100%;
    color: white;
}

.clicked-product-btns button:first-child {
    background-color: var(--orange-color);
}

.clicked-product-btns button:first-child:hover {
    background-color: rgba(255, 153, 0, 0.863);
}

.clicked-product-btns button:nth-child(2) {
    background-color: var(--red-color);
}

.clicked-product-btns button:nth-child(2):hover {
    background-color: rgba(185, 28, 28, 0.863);
}

/* Account Page... */

.account-page {
    display: none;
}



.account-page .account-side-bar {
    background-color: #ccc;
    align-items: start;
    padding: 0;
    padding-top: 20px;
    width: fit-content;
    overflow: initial;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media not all and (min-width: 1023px) {
    .account-page .account-side-bar {
        width: fit-content;
        height: 100vh;
        background-color: #ccc;
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 10px;
        flex-grow: 0;
        gap: 20px;
        padding-top: 30px;
        overflow: auto;
    }

    .account-page .account-side-bar p {
        display: none;
    }

}

@media not all and (min-width: 376px) {
    .account-page .account-side-bar {
        width: 100%;
        height: fit-content;
        background-color: #ccc;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        flex-grow: 0;
        gap: 10px;
        overflow: hidden;
        position: fixed;
        top: 92%;
        left: 0;
    }

    .account-page .account-side-bar p {
        display: none;
    }
}

.account-page .account-side-bar .back {
    width: fit-content;
}

.account-page .account-side-bar>div {
    display: flex;

    gap: 10px;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    text-wrap: nowrap;
    border-radius: 15px;
    margin: 0 5px;
    width: calc(100% - 10px);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

@media not all and (min-width: 1023px) {
    .account-page .account-side-bar>div {
        justify-content: center;
    }
}

.active {
    background-color: var(--Blue);
}

.account-page .account-side-bar>div:hover {
    background-color: var(--Blue);
}

.account-page .right-page {
    width: 100%;
    padding: 5px 10px 0 10px;
    background: linear-gradient(130deg, rgb(6, 33, 51) 30%, rgb(1, 60, 99) 50%, rgb(6, 33, 51) 100%);
}

@media not all and (min-width: 376px) {
    .account-page .right-page {
        width: 100%;
        height: calc(100vh - 54px);
        overflow: auto;
    }
}

@media (pointer:coarse) {
    .account-page .right-page::-webkit-scrollbar {
        display: none;
    }
}


.account-page .user-info-page {}

.account-page .user-info-page .user-img {
    width: 200px;
    height: 200px;
    margin: 0 auto 30px auto;
    position: relative;
}

.upload-btn-wrapper {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    bottom: 20px;
    right: 0;
    cursor: pointer;

}

.btn {
    color: white;
    background-color: var(--Blue);
    width: 40px;
    height: 40px;
    padding: 8px 20px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.upload-btn-wrapper input[type=file] {

    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.account-page .user-info-page .user-info-fields {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 34px;
}

.account-page .user-info-page .user-info-fields>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.account-page .user-info-page .user-info-fields>div p {
    align-self: end;
    color: blue;
    cursor: pointer;
}

.account-page .user-info-page .user-info-fields>div p:hover {
    color: rgba(0, 0, 255, 0.836);
}

.account-page .user-info-page .user-info-fields input {
    width: 300px;
    background-color: #ccc;
    padding: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.account-page .user-info-page .user-info-fields label {
    font-weight: bold;
}

.save-info-btn-false {
    cursor: no-drop;
    opacity: 0.5;
}

.save-info-btn-ture {
    cursor: pointer;
}

.account-page .user-info-fields .save-info-btn {
    width: 110px;
    padding: 12px;
    height: fit-content;
    align-self: center;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: #225bcf;
    color: white;
}

.page-hidden {
    display: none !important;
}


.account-page .user-info-fields .save-info-btn:hover {
    background-color: var(--Dark-blue);
}

.account-page .wish-list-page {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
}

.account-page .wish-list-page {
    width: 100%;
    height: fit-content;
    font-size: 12px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.account-page .wish-list-page .product-holder {
    flex-direction: row;
    width: fit-content;
    padding: 5px;
    gap: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: -1px 5px 13px 0px black
}

.account-page .wish-list-page .product-holder .product-img {
    width: 50%;
    flex: 1 1;
    margin: 0;
    height: 150px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    align-self: center;
}

.account-page .wish-list-page .product-holder .product-img img {
    height: 100%;
    max-width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.account-page .wish-list-page .product-holder .product-details {
    width: 50%;
}

.account-page .wish-list-page .product-holder .product-details .product-name {
    color: black;
    font-size: 17px;
}

.account-page .wish-list-page .product-holder .product-details .product-description {
    position: relative;
    color: rgba(0, 0, 0, 0.616);
}

.product-hover {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.521);
    padding: 10px;
    width: 350px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-wrap: pretty;
    line-height: 1.8;
}

.account-page .wish-list-page .product-holder .product-details .product-price {
    color: black;
}

.account-page .wish-list-page .product-holder .product-details .btns {
    flex-direction: row;
}

.account-page .wish-list-page .product-holder .product-details .btns .buy-now {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.rm-btn {
    background-color: transparent;
    border: none;
    float: right;
    margin: 0 5px;
    color: rgb(167, 8, 8);
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

.rm-btn:hover {
    color: rgba(167, 8, 8, 0.87);
}


.alarms-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.alarms-page .set-alarm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--Dark-blue);
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: fit-content;
    height: 40px;
}

.alarms-page .set-alarm:hover {
    background-color: #225bcf;
}

.alarms {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    gap: 20px;
    justify-items: center;
}

.alarms-page .alarm-holder {
    width: 90%;
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    gap: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


@media not all and (min-width: 425px) {
    .alarms-page .alarm-holder {
        justify-content: center;

    }
}


.on-off {
    height: 25px;
    background-color: red;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    flex: 0 0 50px;
}

@media not all and (min-width: 425px) {
    .on-off {
        flex: 0 1 50px;
        margin: 0 50px;
    }
}

.on {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}


.on-state {
    left: 50%;
}

.off-state {
    left: 0;
}

.alarms-page .alarm-holder .edit {
    color: white;
}

.alarms-page .alarm-holder .remove {
    color: red;
}


.alarm-box-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.479);
    z-index: 1;
}

.alarm-box-bg .new-alarm-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: white;
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.alarm-box-bg .new-alarm-box>label {
    margin-top: 10px;
    font-size: 20px;
}

.alarm-box-bg .new-alarm-box #alarmName {
    text-align: center;
    width: 70%;
}

.alarm-box-bg .new-alarm-box #alarmName:focus {
    outline: none;
}

.alarm-box-bg .new-alarm-box #alarmTime {
    width: 70%;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
}

@media not all and (min-width: 500px) {
    .alarm-box-bg .new-alarm-box #alarmTime {
        font-size: 10px;
    }
}

.check-day {
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    gap: 5px;
}

.check-day label {
    font-size: 15px;
}

.alarm-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

.alarm-box-bg .new-alarm-box .btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    flex-grow: 0;
}

.alarm-holder .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: bold;
}

.alarm-box-bg .new-alarm-box .btns button {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: black;
    background-color: var(--main-v3-color);
    padding: 5px;
    color: white;
    font-size: 15px;
    width: 40%;
}

@media not all and (min-width: 375px) {
    .alarm-box-bg .new-alarm-box .btns button {
        font-size: 10px;
    }
}

.settings-page {}

.settings-page h2 {
    color: white;
    font-size: 25px;
    margin: 20px;
}

.settings-page form {
    padding: 10px;
}

.settings-page form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 300px;
}

.settings-page form div label {
    color: white;
}

.settings-page form div input {
    color: black;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
    background-color: white;
    flex: 1;
}

.settings-page form div input:focus {
    outline: none;
}

.settings-page form button {
    padding: 10px;
    background-color: #0072c6;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;
}

.settings-page form button:hover {
    background-color: #0073c6a8;
}