<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="../CSS/all.min.css" rel="stylesheet" />
    <link href="../CSS/output.css" rel="stylesheet" />
    <link href="../CSS/mainPage.css" rel="stylesheet" />
    <link href="../CSS/normalize.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      rel="stylesheet"
    />
    <link href="../Images/Logo.png" rel="icon" />
    <link href="../CSS/Shop_Page.css" rel="stylesheet" />
    <title>Products</title>
  </head>
  <body>
    <div class="overlay-sidebar"></div>

    <div class="overlay" id="loadingOverlay">
      <dotlottie-player
        src="https://lottie.host/ecd81636-c8bb-4fc2-af50-d5c637458e6e/QVodgYC0Ci.json"
        background="transparent"
        speed="1"
        style="width: 300px; height: 300px"
        loop
        autoplay
      ></dotlottie-player>
    </div>
    <div class="main">
      <div class="side-bar">
        <div class="logo-side">
          <a class="linkedPage" href="./mainPage.html" data-set="landing-on"
            ><span class="med">Med</span>Culture</a
          >
        </div>
        <ul class="side-bar-links">
          <li class="side-bar-dropped-menu">
            <a
              class="drop-icon block w-fit"
              data-set="landing-on"
              href="./mainPage.html"
              >Home
            </a>
          </li>
          <li>
            <a data-set="feed-back" href="./mainPage.html#feed-back"
              >Contact us</a
            >
          </li>
          <li>
            <a data-set="about-us" href="./mainPage.html#about-us">About us</a>
          </li>
          <li>
            <a data-set="services" href="./mainPage.html#services">Services</a>
          </li>
          <li>
            <a data-set="testimonials" href="./mainPage.html#testimonials"
              >Testimonials</a
            >
          </li>
        </ul>
        <p class="text-white self-start">Social Links</p>
        <div class="social-links">
          <a href="#" class="facebook"
            ><i class="fa-brands fa-square-facebook"></i
          ></a>
          <a href="#" class="instgram"
            ><i class="fa-brands fa-square-instagram"></i
          ></a>
          <a href="#" class="twitter"
            ><i class="fa-brands fa-square-x-twitter"></i
          ></a>
          <a href="#" class="github"
            ><i class="fa-brands fa-square-github"></i
          ></a>
        </div>
        <i class="fa-solid fa-xmark" id="side-bar-close-btn"></i>
      </div>
      <div class="body">
        <div class="nav container">
          <form action="" class="search-form">
            <i class="fa-solid fa-bars-staggered" id="side-bar-open-btn"></i>

            <input type="search" placeholder="Search" />
          </form>

          <div class="user-btn">
            <span class="red-alert"></span>

            <img
              alt=""
              src="../Images/Team Members/Ahmed Mostafa.jpg"
              style="border-radius: 50%"
            />
            <div class="user-info">
              <div class="user-img">
                <img
                  alt=""
                  src="../Images/Team Members/Ahmed Mostafa.jpg"
                  style="border-radius: 50%"
                />
              </div>
              <p class="user-name">Ahmed Mostafa</p>

              <div
                class="user-account-info"
                data-set="account"
                name="account-info"
                onclick="openAccountPage()"
              >
                <i class="fa-solid fa-user"></i>
                <p>Account info</p>
              </div>
              <div class="user-wishlist" data-set="wishlist">
                <span></span>
                <i class="fa-solid fa-star"></i>
                <p>Wishlist</p>
              </div>

              <div class="user-alarm" data-set="alarm">
                <i class="fa-solid fa-stopwatch"></i>
                <p>Set Alarm</p>
              </div>
              <div class="user-settings" data-set="settings">
                <i class="fa-solid fa-gear"></i>
                <p>Settings</p>
              </div>
              <div class="log-out">
                <i class="fa-solid fa-right-from-bracket"></i>
                <p>
                  <a href="../Index.html" style="width: 100%; height: 100%"
                    >Log out</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="scroll-bar">
          <div class="left-arrow"><span></span></div>
          <div class="departs">
            <!-- data-set represent catigories -->
            <div data-set="All">All</div>
            <div data-set="test1">TEST1</div>
            <div data-set="test2">TEST2</div>
            <div data-set="test3">TEST3</div>
          </div>
          <div class="right-arrow"><span></span></div>
        </div>

        <div class="products-box">
          <div class="product-holder" data-set="test1" id="1">
            <div class="product-img">
              <img
                alt=""
                src="../Images/arrangement-medical-desk-with-copy-space.jpg"
              />
            </div>
            <div class="product-details">
              <p class="product-name">TEST1</p>
              <p class="product-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
                quo nisi blanditiis totam adipisci dolore tempore iusto. Eum
                dolorum ad, quas esse nihil repellat! Blanditiis alias eligendi
                commodi fugiat in.
              </p>
              <span class="product-price">30.99 <span>EGP</span></span>
              <div class="btns">
                <button class="atwl" data-product-id="2">
                  <i class="fa-regular fa-star"></i>
                </button>
                <button class="buy-now">
                  <a href="./order.html">Buy Now</a>
                </button>
              </div>
            </div>
          </div>
          <div class="product-holder" data-set="test2" id="2">
            <div class="product-img">
              <img
                alt=""
                src="../Images/arrangement-medical-desk-with-copy-space.jpg"
              />
            </div>
            <div class="product-details">
              <p class="product-name">TEST2</p>
              <p class="product-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
                quo nisi blanditiis totam adipisci dolore tempore iusto. Eum
                dolorum ad, quas esse nihil repellat! Blanditiis alias eligendi
                commodi fugiat in.
              </p>
              <span class="product-price">30.99 <span>EGP</span></span>
              <div class="btns">
                <button class="atwl" data-product-id="2">
                  <i class="fa-regular fa-star"></i>
                </button>
                <button class="buy-now">
                  <a href="./order.html">Buy Now</a>
                </button>
              </div>
            </div>
          </div>
          <div class="product-holder" data-set="test3" id="3">
            <div class="product-img">
              <img
                alt=""
                src="../Images/arrangement-medical-desk-with-copy-space.jpg"
              />
            </div>
            <div class="product-details">
              <p class="product-name">TEST3</p>
              <p class="product-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
                quo nisi blanditiis totam adipisci dolore tempore iusto. Eum
                dolorum ad, quas esse nihil repellat! Blanditiis alias eligendi
                commodi fugiat in.
              </p>
              <span class="product-price">30.99 <span>EGP</span></span>
              <div class="btns">
                <button class="atwl" data-product-id="2">
                  <i class="fa-regular fa-star"></i>
                </button>
                <button class="buy-now">
                  <a href="./order.html">Buy Now</a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="account-page">
      <div class="account-side-bar">
        <div class="back" onclick="back()">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
        <div class="side-bar-account-info active" data-set="account">
          <i class="fa-solid fa-user"></i>
          <p>Account information</p>
        </div>
        <div class="side-bar-wishlist" data-set="wishlist">
          <i class="fa-solid fa-star"></i>
          <p>Wishlist</p>
        </div>

        <div class="side-bar-alarm" data-set="alarm">
          <i class="fa-solid fa-stopwatch"></i>
          <p>Alarms</p>
        </div>
        <div class="side-bar-settings" data-set="settings">
          <i class="fa-solid fa-gear"></i>
          <p>Settings</p>
        </div>
      </div>
      <div class="right-page">
        <div class="user-info-page page-hidden" data-set="account">
          <div class="user-img">
            <img
              style="border-radius: 70%"
              src="../Images/Team Members/Ahmed Mostafa.jpg"
              alt="User Photo"
            />
            <div class="upload-btn-wrapper">
              <button class="btn"><i class="fa-solid fa-camera"></i></button>
              <input type="file" name="myfile" />
            </div>
          </div>
          <form
            action=""
            method="POST"
            enctype="multipart/form-data"
            class="user-info-fields"
          >
            <div>
              <label for="user-first-name">First Name</label>
              <input
                type="text"
                id="user-first-name"
                name="first_name"
                value="Ahmed"
                disabled
              />
              <p id="change-first-name">Change</p>
            </div>
            <div>
              <label for="user-last-name">Last Name</label>
              <input
                type="text"
                id="user-last-name"
                name="last_name"
                value="Mostafa"
                disabled
              />
              <p id="change-last-name">Change</p>
            </div>
            <div>
              <label for="user-email">Your Email</label>
              <input
                type="email"
                id="user-email"
                name="email"
                value="ahmedmostafa56@gmail.com"
                disabled
              />
              <p id="change-email">Change</p>
            </div>
            <div>
              <label for="user-address">Your Address</label>
              <input
                type="text"
                id="user-address"
                name="address"
                value="Elfayoum"
                disabled
              />
              <p id="change-address">Change</p>
            </div>

            <button
              class="save-info-btn save-info-btn-false"
              id="save-info-btn"
              disabled
            >
              Save
            </button>
          </form>
        </div>
        <!-- CC -->
        <div class="wish-list-page page-hidden" data-set="wishlist">
          <div class="buy-all">
            <button class="buy-all-btn">
              <a href="./order.html">Buy all</a>
            </button>
          </div>
        </div>

        <!-- CC -->

        <div class="alarms-page page-hidden" data-set="alarm">
          <button
            class="set-alarm"
            onclick="toggleAlarmForm(), requestNotificationPermission()"
          >
            <i class="fa-solid fa-plus"></i>New Alarm
          </button>
          <div class="alarm-box-bg" id="alarmForm" style="display: none">
            <form action="" class="new-alarm-box" onsubmit="return 0">
              <label for="alarm-name">Alarm name</label>
              <input
                type="text"
                maxlength="10"
                placeholder="Alarm"
                id="alarmName"
              />
              <label for="alarmTime">Set time</label>
              <input type="time" name="set-time" id="alarmTime" />
              <label for="">Repeat</label>
              <div class="check-day input-group">
                <div>
                  <input type="checkbox" id="Saturday" value="0" />
                  <label for="Saturday">Saturday</label>
                </div>
                <div>
                  <input type="checkbox" id="Sunday" value="1" />
                  <label for="Sunday">Sunday</label>
                </div>
                <div>
                  <input type="checkbox" id="Monday" value="2" />
                  <label for="Monday">Monday</label>
                </div>
                <div>
                  <input type="checkbox" id="Tuesday" value="3" />
                  <label for="Tuesday">Tuesday</label>
                </div>
                <div>
                  <input type="checkbox" id="Wednesday" value="4" />
                  <label for="Wednesday">Wednesday</label>
                </div>
                <div>
                  <input type="checkbox" id="Thursday" value="5" />
                  <label for="Thursday">Thursday</label>
                </div>
                <div>
                  <input type="checkbox" id="Friday" value="6" />
                  <label for="Friday">Friday</label>
                </div>
              </div>
              <div class="btns">
                <button class="save-alarm-btn" onclick="addAlarm()">
                  Save
                </button>
                <button class="cancel-alarm-btn">Cancel</button>
              </div>
            </form>
          </div>

          <div class="alarms" id="alarmList"></div>
        </div>
        <!-- CC -->
        <!-- محتوى صفحة Shop_Page.html -->
        <div class="settings-page" data-set="settings">
          <h2>Change Password</h2>
          <form method="post">
            <div>
              <label for="id_password">New Password</label>
              <input type="password" />
            </div>
            <div>
              <label for="id_confirm_pass">Confirm New Password</label>
              <input type="password" />
            </div>
            <button type="submit">Change</button>
          </form>
        </div>

        <!-- CC -->
      </div>
    </div>

    <span class="time-up arrow-up center">Time Up!!!!</span>
    <script
      src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
      type="module"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        console.log("JavaScript is loaded.");

        document.querySelectorAll(".atwl").forEach((button) => {
          button.addEventListener("click", function () {
            console.log("Button clicked.");
            const productId = this.dataset.productId;
            fetch("{% url 'shop'", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
                "X-Requested-With": "XMLHttpRequest",
              },
              body: JSON.stringify({ product_id: productId }),
            })
              .then((response) => response.json())
              .then((data) => {
                console.log(data);
                if (data.status === "added") {
                  this.querySelector("i").classList.remove("fa-regular");
                  this.querySelector("i").classList.add("fa-solid");
                } else if (data.status === "removed") {
                  this.querySelector("i").classList.remove("fa-solid");
                  this.querySelector("i").classList.add("fa-regular");
                }
              })
              .catch((error) => console.error("Error:", error));
          });
        });

        document.querySelectorAll(".rm-btn").forEach((button) => {
          button.addEventListener("click", function () {
            console.log("Remove button clicked.");
            const productId = this.dataset.productId;
            fetch("{% url 'shop'", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
                "X-Requested-With": "XMLHttpRequest",
              },
              body: JSON.stringify({ product_id: productId }),
            })
              .then((response) => response.json())
              .then((data) => {
                console.log(data);
                if (data.status === "removed") {
                  this.closest(".product-holder").remove();
                }
              })
              .catch((error) => console.error("Error:", error));
          });
        });
      });
    </script>
    <script src="../JS/Shop_page.js"></script>
  </body>
</html>
